name: Test

on:
  push:
    branches: [ "main" ]
    paths:
      - 'app/**'
      - 'build.gradle'
  pull_request:
    paths:
      - 'app/**'
      - 'build.gradle'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run tests
        run: ./gradlew test

      - name: Build with Gradle
        run: ./gradlew assembleDebug

      - name: Upload Debug APK
        uses: actions/upload-artifact@v3
        with:
          name: APK(s) debug generated
          path: ./app/build/outputs/apk/standard/debug/

      - name: Upload Debug APK (Bundled)
        uses: actions/upload-artifact@v3
        with:
          name: APK(s) debug generated (Bundled)
          path: ./app/build/outputs/apk/bundled/debug/
